body {
    background-color: #f4f4f4; /* Fondo suave */
    color: #333; /* Color de texto oscuro */
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

.button {
    background-color: black;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    margin: 10px;
}

.button:hover {
    background-color: #333;
}

#timer {
    font-size: 30px;
    margin: 20px 0;
}

#balance {
    font-size: 20px;
    color: green;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
}

#mining-buttons {
    margin-top: 20px;
}

#mining-buttons .button {
    font-size: 16px;
    padding: 10px 20px;
}
